@charset "UTF-8";

.main-wrapper {
  height: 75vh;
}

.DC {
  border: 3px solid #fff;
  border-width: 3px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-family: "segoe UI";
  text-align: center;
  height: 70%;
  min-height: 270px;
  justify-content: center;
}

#time_message {
  border: 2px solid #000;
  font-size: 1.5vw;
  font-family: calibri light;
}
.DC:hover {
  transform: scale(1.03);
}
.DC-red {
  border-color: #b61515;
}

.DC-green {
  border-color: #1f8d31;
}

.DC-unknown {
  border-color: #d6bb21;
}

.computer-room {
  font-size: 4vw;
}

.temp {
  position: relative;
  text-align: center;
  dfont-size: 2.4vw;
}
.gauge-image {
  width: 100%;
}
.gauge-image:hover {
  transform: scale(1.03);
}

.temp-number {
  position: absolute;
  left: 50%;
  bottom: 14%;
  transform: translate(-50%);
  fosnt-size: 100%;
}

.timestamp {
  font-size: 1.5vw;
}
